<div *ngIf="orderDetails.length === 0">
  <h3>Orders for {{name}}</h3>

  <table mat-table [dataSource]="orders">
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>

    <ng-container matColumnDef="ordered">
      <th mat-header-cell *matHeaderCellDef>Ordered</th>
      <td mat-cell *matCellDef="let order">{{order.orderDateMillis | date:'yyyy-MM-dd'}}</td>
    </ng-container>

    <ng-container matColumnDef="required">
      <th mat-header-cell *matHeaderCellDef>Required</th>
      <td mat-cell *matCellDef="let order">{{order.requiredDateMillis | date:'yyyy-MM-dd'}}</td>
    </ng-container>

    <ng-container matColumnDef="shipped">
      <th mat-header-cell *matHeaderCellDef>Shipped</th>
      <td mat-cell *matCellDef="let order">{{order.shippedDateMillis | date:'yyyy-MM-dd'}}</td>
    </ng-container>

    <ng-container matColumnDef="nrDetails">
      <th mat-header-cell *matHeaderCellDef>Nr Details</th>
      <td mat-cell *matCellDef="let order">{{order.nrOrderDetails}}</td>
    </ng-container>

    <ng-container matColumnDef="orderDetailsButton">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let order">
        <button mat-raised-button (click)="showOrderDetails(order)">OrderDetails for Order {{order.id}}</button>
      </td>
    </ng-container>
  </table>
</div>

<app-order-details *ngIf="orderDetails.length > 0" [orderDetails]="orderDetails" [order]="order"></app-order-details>
